@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Royal Bank-About</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/css/flexslider.css" rel="stylesheet">
    <link href="~/css/templatemo-style.css" rel="stylesheet"> 

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="tm-gray-bg">
    <!-- Header -->
    <div class="tm-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="/UI/AboutUs" class="tm-site-name">ROYAL BANK</a>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li><a href="/UI/Home" style="color:#ffffff">Home</a></li>
                            <li><a href="/UI/AboutUs" style="color:#ffffff" class="active">About</a></li>

                            <li><a href="/UI/Contact" style="color:#ffffff">Contact</a></li>
                            <li><a href="/Login/Login" style="color:#ffffff">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Banner -->
    <section class="tm-banner">
        <!-- Flexslider -->
        <div class="flexslider flexslider-banner">
            <ul class="slides">
                <li>
                    <div class="tm-banner-inner">
                        <h1 class="tm-banner-title">Build <span class="tm-yellow-text">your </span>dream <span class="tm-yellow-text">home</span> </h1>
                        <p class="tm-banner-subtitle">Royal Home Loan</p>
                        <a href="#more" class="tm-banner-link">Learn More</a>
                    </div>
                    <img src="http://energycreditunion.org/wp-content/themes/energycu/images/slide3.jpg" alt="banner 1" /> @*https://i0.wp.com/intheknowupstate.com/wp-content/uploads/2017/09/falls-park-1920x665-tiny.jpg?fit=1920%2C665&ssl=1*@
                </li>
                <li>
                    <div class="tm-banner-inner">
                        <h1 class="tm-banner-title">Education is<span class="tm-yellow-text"> NO</span> MORE A <span class="tm-yellow-text">Hurdle</span></h1>
                        <p class="tm-banner-subtitle">Royal Education Loan</p>
                        <a href="#more" class="tm-banner-link">Learn More</a>
                    </div>
                    <img src="http://energycreditunion.org/wp-content/themes/energycu/images/slide-college-access-counselor.jpg" alt="banner 2" />  @*@http://belladesign.co.uk/wp-content/uploads/2015/03/Jenics-Devices-a-1920x665.jpg*@
                </li>
                <li>
                    <div class="tm-banner-inner">
                        <h1 class="tm-banner-title">Get your <span class="tm-yellow-text">KEY</span> to <span class="tm-yellow-text"> happiness</span></h1>
                        <p class="tm-banner-subtitle">Royal car Loan</p>
                        <a href="#more" class="tm-banner-link">Learn More</a>
                    </div>
                    <img src="http://www.ggi-sa.com/wp-content/uploads/2016/05/motor-insurance.jpg" alt="banner 3" /> @*https://igx.4sqi.net/img/general/1920x665/338249_aIiRmgvyPNE-rILbsVXyQmauIxcUvGJ8c3bX1O6e9G4.jpg*@
                </li>
            </ul>
        </div>
    </section>

    <!-- gray bg -->
    <section class="container tm-home-section-1" id="more">
        <div class="row">
            <!-- slider -->
            <div class="flexslider flexslider-about effect2">
                <ul class="slides">
                    <li>
                        <img src="http://ad009cdnb.archdaily.net/wp-content/uploads/2013/02/512fa584b3fc4bff940001af_tukcom-i-t-mall-sriracha-supermachine-studio_ss-tukcom-sriracha-18-528x435.jpg" alt="image" />
                        <div class="flex-caption">
                            <h2 class="slider-title">Welcome To Royal Bank</h2>
                            <h3 class="slider-subtitle">It is a team of certified financial planners that specializes in strategies to maximize your wealth and financial independence.</h3>
                            <p class="slider-description">
                                Royal Bank offers a wide range of banking products and financial services to corporate and retail customers through a variety of delivery channels and through its group companies.
                                Royal Bank is India's largest private sector bank with total consolidated assets of Rs. 9,860.43 billion (US$ 152.0 billion) at March 31, 2017 and profit after tax of Rs. 68.01 billion (US$ 0.5 billion) for the year ended March 31, 2017. Royal Bank currently has a network of 85 Branches and 942 ATM's across India.
                            </p>
                            <div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="http://www.archdaily.com/wp-content/uploads/2010/08/1283203726-picture1--reception-entry-528x435.jpg" alt="image" />
                        <div class="flex-caption">
                            <h2 class="slider-title">Independent</h2>
                            <h3 class="slider-subtitle">Protecting your financial interests from potential conflicts of interest</h3>
                            <p class="slider-description">
                                We are one of a select group of advice practices that are truly independent. We are privately owned. We do not have financial links to any bank or other financial institutions. We have a strict "no commission" policy. The only fee's we receive are direct from clients.

                                Our complete independence means we remain objective and construct financial plans (or financial strategies). We recommend strategies, not products.
                            </p>
                            <div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="http://ad009cdnb.archdaily.net/wp-content/uploads/2013/07/51e97219e8e44e33c30000e2_yongjia-world-trade-centre-unstudio_wtc_wenzhou_rendering-528x435.jpg" alt="image" />
                        <div class="flex-caption">
                            <h2 class="slider-title">Integrated</h2>
                            <h3 class="slider-subtitle">Managing your financial affairs with a comprehensive approach</h3>
                            <p class="slider-description">
                               Enterprise integration  will allow organizations to connect applications, data and devices on-premises or in the cloud. We intend to solve challenging integration problems across the world, in a lightweight, user-friendly way. Our approach to integration will offer the speed and agility necessary to succeed in the digital era.
                            </p>
                            <div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="http://ad009cdnb.archdaily.net/wp-content/uploads/2013/02/512cc8b2b3fc4b3e4f0000b2_college-track-turnbull-griffin-haesloop-architects_-c-wakely912504-528x435.jpg" alt="image" />
                        <div class="flex-caption">
                            <h2 class="slider-title">Teamwork</h2>
                            <h3 class="slider-subtitle">Serving you with a long-standing team of professionals with rich business backgrounds</h3>
                            <p class="slider-description">
                                These three factors we adopt for creating the right workspace conditions:

                                Developing individual strengths.<br />
                                Establishing good relationships with our customers.<br />
                                Pursuing worthwhile and meaningful goals.
                            </p>
                            <div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-margin-top about-section">
            <div class="row">
                <div class="tm-section-header">
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Our Services</h2></div>
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tm-about-box-1">
                        <a href="#"><img src="https://www.ucg.org.au/media/zoo/images/wealth_9e11b031d304bca67e6fab2b5d90a243.jpg" alt="img" class="tm-about-box-1-img" width="78%" height="48%"></a>
                        <h3 class="tm-about-box-1-title">Growing <span>Wealth</span></h3>
                        <p class="margin-bottom-15 gray-text">Growing wealth is most effective when started at an early age.</p>
                        <div class="gray-text">
                            <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tm-about-box-1">
                        <a href="#"><img src="https://4djy83s2swr22ty8mwjq954a-wpengine.netdna-ssl.com/wp-content/uploads/2016/01/financeuncovered-140x140.jpg" alt="img" class="tm-about-box-1-img"></a>
                        <h3 class="tm-about-box-1-title">Tax <span>Planning</span></h3>
                        <p class="margin-bottom-15 gray-text">Tax is a complex area, and becomes more so if you run a business or have several sources of income.</p>
                        <div class="gray-text">
                            <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tm-about-box-1">
                        <a href="#"><img src="http://www.counter-balance.org/wp-content/uploads/2016/01/glass-half-full-cover-140x140.png" alt="img" class="tm-about-box-1-img"></a>
                        <h3 class="tm-about-box-1-title">Bussiness <span>Advice</span></h3>
                        <p class="margin-bottom-15 gray-text">Running a business can be hard work, but it can also be highly rewarding — personally and financially</p>
                        <div class="gray-text">
                            <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tm-about-box-1">
                        <a href="#"><img src="https://www.natura-pacific.com/wp-content/uploads/2017/08/finance-1577984_960_720-140x140.jpg" alt="img" class="tm-about-box-1-img"></a>
                        <h3 class="tm-about-box-1-title">Real <span>Estate</span></h3>
                        <p class="margin-bottom-15 gray-text">Every financial plan we create is different</p>
                        <div class="gray-text">
                            <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- white bg -->
    <section class="tm-white-bg section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="tm-section-header section-margin-top">
                    <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">What we do</h2></div>
                    <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                </div>
            </div>
            <div class="row">
                <!-- Testimonial -->
                <div class="col-lg-12">
                    <div class="tm-what-we-do-right">
                        <div class="tm-about-box-2 margin-bottom-30">
                            <img src="https://2udm7l4frjjz47k5wg248qz0-wpengine.netdna-ssl.com/wp-content/uploads/2017/07/finance-tech-to-budget-for-340x249.jpg" alt="image" class="tm-about-box-2-img">
                            <div class="tm-about-box-2-text">
                                <h3 class="tm-about-box-2-title">Professionals</h3>
                                <p class="tm-about-box-2-description gray-text">
                                    When you're a young professional, whether just out of school or with a few years in the working world, your immediate needs are front of mind.

                                    We're here to help you manage the lifestyle that you've worked so hard for, and help you pay down your debt, whilst advising where to put a few hard-earned dollars to grow for a more profitable future.
                                </p>
                                <p class="tm-about-box-2-footer">Royal Bank</p>
                            </div>
                        </div>
                        <div class="tm-about-box-2">
                            <img src="http://3f3qp2w2bus1zysu5dkpz21d.wpengine.netdna-cdn.com/wp-content/uploads/2014/12/WatershedCohibar.WATERSHED.LOGO-401-340x249.jpg" alt="image" class="tm-about-box-2-img">
                            <div class="tm-about-box-2-text">
                                <h3 class="tm-about-box-2-title">Personals</h3>
                                <p class="tm-about-box-2-description gray-text">
                                    As a new family, your household income dips while your expenses rise.

                                    We can advise you so that you can enjoy this hectic but wonderful time in your life. Let us be your partner to ensure that your needs — and those of your growing family — will be met now and in the future.
                                </p>
                                <p class="tm-about-box-2-footer">Royal Bank</p>
                            </div>
                        </div>
                    </div>
                    <div class="tm-testimonials-box">
                        <h3 class="tm-testimonials-title">Testimonials</h3>
                        <div class="tm-testimonials-content">
                            <div class="tm-testimonial">
                                <p>"Simply, we work with each client to develop, implement and maintain a relevant and comprehensive financial strategy, assisting clients to grow their wealth, meet lifestyle objectives and protect against risks."</p>
                                <strong class="text-uppercase">John Smith</strong>
                            </div>
                            <div class="tm-testimonial">
                                <p>
                                    "We don't sell products. We provide Financial Advice.
                                    This means, our strategic financial plans are only influenced by your needs."
                                </p>
                                <strong class="text-uppercase">Lorens</strong>
                            </div>
                            @*<div class="tm-testimonial">
                                    <p>"Rulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio."<p>
                                        <strong class="text-uppercase">Robert</strong>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="tm-black-bg">
            <div class="container">
                <div class="row">
                    <p class="tm-copyright-text" style="color:#ffd800">Copyright &copy;2017 Royal Bank Services</p>
                </div>
            </div>
        </footer>

    @*<footer class="footer-distributed" style="background-color:#000;height:4%">

        <p class="tm-copyright-text" style="text-align:center;color:#f8d00e">Copyright &copy; 2017- Royal Bank Services</p>

    </footer>*@

    @*<footer class="tm-black-bg">
        <div class="container">
            <div class="row">
                <p class="tm-copyright-text">Copyright &copy;2017 &hArr;Royal Bank Services Powered by Tata Consultancy Services Pvt. Ltd.</p>

            </div>
        </div>
    </footer>*@

    <script type="text/javascript" src="~/js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
    <script type="text/javascript" src="~/js/moment.js"></script>							<!-- moment.js -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>					<!-- bootstrap js -->
    <script type="text/javascript" src="~/js/bootstrap-datetimepicker.min.js"></script>	<!-- bootstrap date time picker js, http://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script type="text/javascript" src="~/js/jquery.flexslider-min.js"></script>
    <!--
        <script src="js/froogaloop.js"></script>
        <script src="js/jquery.fitvid.js"></script>
    -->
    <script type="text/javascript" src="js/templatemo-script.js"></script>  		<!-- Templatemo Script -->
    <script>
        $(function () {

            // https://css-tricks.com/snippets/jquery/smooth-scrolling/
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        $(window).load(function () {
            // Flexsliders
            $('.flexslider.flexslider-banner').flexslider({
                controlNav: false
            });
            $('.flexslider').flexslider({
                animation: "slide",
                directionNav: false,
                slideshow: false
            });
        });
    </script>
</body>
</html>


