@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FAQs</title>
</head>
<body>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <div class="container">
        <h3 style="color:darkslateblue;text-align:center">FAQs</h3>
        <div class="panel-group" id="accordion1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 data-toggle="collapse" data-parent="#accordion1" href="#collapse1" class="panel-title expand">
                        <div class="right-arrow pull-right">+</div>
                        <a href="#collapse1" data-toggle="collapse">How can I open an account?   </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><span> You can apply online for a current account or savings account. Simply select add an account, enter your personal details, verify your information. You will receive an email once your application is received and a follow-up email telling you whether it has been approved, plus any next steps.  </span></p>
                    </div>
                </div>
            </div>
        </div>





        <div class="panel-group" id="accordion2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 data-toggle="collapse" data-parent="#accordion2" href="#collapse2" class="panel-title expand">
                        <div class="right-arrow pull-right">+</div>
                        <a href="#collapse2">
                            How can I deposit into my new account?

                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><span>The Internet banking portal of Royal, www.onlineroyal.com is a highly secure, verisign certified site with the transaction data traveling encrypted via an SSL medium (256-bit SSL tunnel), the highest level of security on the internet. The advanced EV-SSL Certificate provides evidence of authenticity to the website which safeguards users from accessing through unauthorised sites. </span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 data-toggle="collapse" data-parent="#accordion3" href="#collapse3" class="panel-title expand">
                        <div class="right-arrow pull-right">+</div>
                        <a href="#collapse3">
                            How long will it take to open an account when I apply?


                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><span>Your application will be processed in 1 to 2 business days. We'll send you either an email or letter letting you know if you are approved for your account. You will receive your account documents via U.S. Mail within 7-10 business days.. </span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 data-toggle="collapse" data-parent="#accordion4" href="#collapse4" class="panel-title expand">
                        <div class="right-arrow pull-right">+</div>
                        <a href="#collapse4">
                            How safe/secure is our net banking account?


                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><span>When applying for a new  or savings account, you can deposit  amount ranging from the minimum $500 opening deposit amount to maximum $10000 amount. </span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 data-toggle="collapse" data-parent="#accordion5" href="#collapse5" class="panel-title expand">
                        <div class="right-arrow pull-right">+</div>
                        <a href="#collapse5">
                            How do I access OnlineRoyal?



                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>

                            <span>
                                You need to have an account at a branch. You also need to register for the Internet banking service with the branch. Branch will provide you a Pre Printed Kit (PPK) containing username and password for first login. Logon to www.onlineroyal.com using this username and password.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 data-toggle="collapse" data-parent="#accordion6" href="#collapse6" class="panel-title expand">
                        <div class="right-arrow pull-right">+</div>
                        <a href="#collapse6" data-toggle="collapse">
                            What if I do not have an account with Royal?


                        </a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            <span>
                                You are welcome to open it now. It is very easy to open an account with Royal. You can apply online for opening of a savings bank account. A link 'Online SB Account Application' is available on the home page of www.onlinesbi.com or just walk in to any of our branches nearby. Our staff would be pleased to assist you.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>





</body>
</html>
